{{ dump(test) }}

{% set content_features_t1_title = fields.content_features_t1_title %}

<section>
    <div class="max-w-6xl px-4 mx-auto sm:px-6">
        <div class="py-12 space-y-10 md:py-20">
            <!-- Section header -->
            {% if content_features_t1_title != '' %}
            <div
                data-aos="fade-up"
                class="max-w-3xl mx-auto text-center lg:mx-0 lg:text-left">
                <h2 class="leading-normal h2 text-slate-800">
                    {{ content_features_t1_title }}
                </h2>
            </div>
            {% endif %}

            <!-- Items -->
            <div
                class="relative grid items-start max-w-sm gap-16 mx-auto md:grid-cols-2 lg:grid-cols-3 lg:gap-y-20 md:max-w-2xl lg:max-w-none"
                data-aos-id-blocks>
                <!-- Lines decoration -->
                <div
                    class="absolute inset-0 hidden -my-8 pointer-events-none md:-my-12 md:flex"
                    aria-hidden="true">
                    <div
                        class="w-full h-full border-l last:border-r odd:hidden lg:odd:block border-slate-100"></div>
                    <div
                        class="w-full h-full border-l last:border-r odd:hidden lg:odd:block border-slate-100"></div>
                    <div
                        class="w-full h-full border-l last:border-r odd:hidden lg:odd:block border-slate-100"></div>
                    <div
                        class="w-full h-full border-l last:border-r odd:hidden lg:odd:block border-slate-100"></div>
                </div>

                <!-- 1st item -->
                <div
                    class="relative"
                    data-aos="fade-up"
                    data-aos-anchor="[data-aos-id-blocks]">
                    {# icono #}

                    <h3 class="mb-2 h4 font-playfair-display">
                        Robust Workflow
                    </h3>
                    <p class="text-lg text-slate-500">
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>

                <div
                    class="relative"
                    data-aos="fade-up"
                    data-aos-anchor="[data-aos-id-blocks]"
                    data-aos-delay="100">
                    {# icono #}

                    <h3 class="mb-2 h4 font-playfair-display">
                        Robust Workflow
                    </h3>
                    <p class="text-lg text-slate-500">
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
