

{% set _class = '' %}
{% if type == 'primary' %}
    {# {% set _class = 'text-white bg-blue-700 hover:bg-primaryBlue' %} #}
    {% set _class = 'text-white bg-primaryBlue border border-primaryBlue hover:scale-110 ' %}
{% endif %}
{% if type == 'secondary' %}
    {# {% set _class = 'text-white bg-slate-600 hover:bg-slate-700' %} #}
    {% set _class = 'text-secondaryBlue bg-whiteBlued border border-secondaryBlue hover:scale-110  ' %}
{% endif %}


<a class=" btn group text-xl w-fit px-5 py-2 md:px-6 md:py-2 md:text-base leading-normal trans {{ _class }} {{ class }} "
    href="{{ path }}">
    {{ text }}
</a>


