


                                <div
                                    class="fixed inset-0 z-50 transition-opacity !ml-0 bg-black bg-opacity-75"
                                    x-show="modalExpanded"
                                    x-transition:enter="transition ease-out duration-200"
                                    x-transition:enter-start="opacity-0"
                                    x-transition:enter-end="opacity-100"
                                    x-transition:leave="transition ease-out duration-100"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0"
                                    aria-hidden="true"
                                    x-cloak></div>