{# video_embed #}

  {% include "components/common/modals/modal_background.twig" with {
   'modalExpanded': modalExpanded,
}
%}

                                <div
                                    id="modal"
                                    class="fixed inset-0 z-50 flex items-center justify-center px-4 overflow-hidden sm:px-6"
                                    role="dialog"
                                    aria-modal="true"
                                    aria-labelledby="modal-headline"
                                    x-show="modalExpanded"
                                    x-transition:enter="transition ease-out duration-200"
                                    x-transition:enter-start="opacity-0 scale-95"
                                    x-transition:enter-end="opacity-100 scale-100"
                                    x-transition:leave="transition ease-out duration-200"
                                    x-transition:leave-start="opacity-100 scale-100"
                                    x-transition:leave-end="opacity-0 scale-95"
                                    x-cloak>

                                    <div
                                    class="w-full max-w-6xl max-h-full overflow-auto bg-white"
                                    @click.away="modalExpanded = false"
                                    @keydown.escape.window="modalExpanded = false">

                                            <template x-if="modalExpanded">


                                        {% if video != '' %}
                                        <video
                                        x-init="{{ "$watch('modalExpanded', value => value ? $el.play() : $el.pause())" | e('html_attr') }}"
                                        class="w-full aspect-video" width="1920" height="1080" loop controls>
                                            <source src="{{ _get_img(video, 'src') }}" type="video/mp4" />
                                            Your browser does not support the video tag.
                                        </video>
                                        {% endif %}

                                        {% if video_embed != '' %}
                                        <div class="aspect-video">
                                            {{ video_embed | raw }}
                                        {% endif %}

                                        </template>


                                    </div>
                                </div>



{#
<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/971493917?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Asistente Virtual 1"></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script> #}
