{% extends "base.twig" %}

{% block content %}

         <div class="px-4 mx-auto sm:px-6 bg-slate-900">
                <div class="pt-32 pb-12 md:pt-40 md:pb-20">
                    <div class="max-w-3xl mx-auto text-center">
                        <!-- 404 content -->
                        <div class="relative inline-flex">

                            <h1 class="mb-4 h1 text-generalWhite">Oops 404!</h1>
                        </div>
                        <p class="text-xl text-slate-500">Página no encontrada</p>
                        <div class="mt-8">
                            <a class="text-white bg-blue-600 btn hover:bg-blue-700" href="/">
                                Volver a home
                            </a>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}